body {
    margin:0;
}
iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;    
}
h1 {
    text-align:center;
    color:antiquewhite;
    font-size: 3rem;
}
p {
    color:antiquewhite;
    font-size: 1.5rem;
}
.content-wrapper {
    position: relative;
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
}
#hero-image {
    background-image: url("resources/HeaderBackground.png");
    height:calc(3443vw/4096 * 200); /*img height / width * 200*/
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
#background-image {
    background-image: url("resources/WallBackground.png");
    height:calc(10329vw/4096 * 200);
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
#logo {
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-top:17%;
}
#steam-button {
    width:70%;
    margin-left:15%;
    margin-right:15%;
    margin-top:15%;
}
#video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 61.8%;
    overflow: hidden;
    border-image-source: url("resources/VideoFrame.png");
    border-image-slice: 143 148 186 153 fill;
    border-image-width: 10% 5% 10% 5%;
    border-image-repeat: stretch;
}
#video-player {
    position:absolute;
    top:9.9%;
    left:4.9%;
    width:90.2%;
}   
#video-padding {
    position: relative;
    width:100%;
    padding-top:56.25%;
    overflow:hidden;
}
#description-wrapper {
    width:90%;
    margin-left:5%;
    margin-top:10%;
    border-image-source: url("resources/BannerBackground.png");
    border-image-slice: 162 259     74 241 fill;
    border-image-width: 20% 10%;
    border-image-repeat: stretch;
}
#description {
    padding: 60px 12% 40px 12%;
}
@media only screen and (min-width:960px)
{
    .content-wrapper {
        max-width:960px;
    }
    #hero-image {
        height: calc(3443px/4096*1920); /*img height / width * 1920*/
    }
    #background-image{
        height:calc(10329px/4096 * 1920);
    }
}
@media only screen and (min-aspect-ratio:16/9) {

}
