@font-face {
    font-family: "ARCO";
    src: url(resources/ARCO_2.otf);
    font-weight: normal;
    font-style: normal;
}
body {
    margin:0;
    font-family: 'Lilita One';
    font-weight: 400;
    font-style: normal;
}
iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;    
}
h1 {
    font-family:"ARCO";
    letter-spacing:0.3rem;
    text-align:center;
    color:antiquewhite;
    font-size: 3rem;
}
h2 {
    letter-spacing:0.1rem;
    text-align:center;
    color:antiquewhite;
}
p {
    color:antiquewhite;
    font-size: 1.5rem;
}
.content-wrapper {
    position: relative;
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
}
.round-button {
    width:100%;
    height:auto;
}
.central-divider {
    width:70%;
    margin: 7% 15%;
}
.steam-button {
    position:absolute;
    top:31.97%;
    left: 16.34%;
    width:48.41%;
    height:40.66%;
}
.hover-container .unhover {
    display:block;
}
.hover-container .hover {
    display:none;
}
.hover-containe:hover .unhover {
    display:none;
}
.hover-container:hover .hover {
    display:block;
}
.carousel-image {
    opacity:0;
    transition: opacity 1s ease-in-out;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.active {
    opacity:1;
}
#hero-image {
    background-image: url("resources/HeaderBackground.png");
    height:calc(3443vw/4096 * 200); /*img height / width * 200*/
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
#background-image {
    background-image: url("resources/WallBackground.png");
    height:calc(10329vw/4096 * 200);
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
#logo {
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:21%;
}
#steam-button-book {
    width:70%;
    margin-left:15%;
    margin-right:15%;
    margin-top:13.4%;
    position:relative;
}
#steam-book {
    width:100%;
}
#button-container {
    margin-left:5%;
    width:90%;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    gap:2%;
    margin-bottom:7%;
}
#video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 68%;
    overflow: hidden;
    border-image-source: url("resources/VideoFrame.png");
    border-image-slice: 187 151 211 156 fill;
    border-image-width: 14.46% 7.8% 16.32% 8.15%;
    border-image-repeat: stretch;
}
#video-player {
    position:absolute;
    top:14.4%;
    left:8.1%;
    width:84.1%;
}   
#video-padding {
    position: relative;
    width:100%;
    padding-top:56.25%;
    overflow:hidden;
}
#description-wrapper {
    width:90%;
    margin-left:5%;
    margin-top:10%;
    border-image-source: url("resources/BannerBackground.png");
    border-image-slice: 165 259 150 241 fill;
    border-image-width: 12% 10%;
    border-image-repeat: stretch;
}
#description {
    padding: 60px 12% 40px 12%;
}
#image-frame {
    position: relative;
    width: 100%;
    padding-top:68%;
    overflow: hidden;
    border-image-source: url("resources/VideoFrame.png");
    border-image-slice: 187 151 211 156 fill;
    border-image-width: 14.46% 7.8% 16.32% 8.15%;
    border-image-repeat: stretch;
}
#image-carousel {
    position:absolute;
    top:14.4%;
    left:8.1%;
    width:84.1%;
    padding-top:56.25%;
}
#back-button, #forward-button {
    position:absolute;
    height:10%;
    width:5.625%;
    top:45%;
}
#back-button img {
    width:100%;
    height:100%;
}
#forward-button img {
    width:100%;
    height:100%;
}
#back-button {
    left:1%;
}
#forward-button {
    right:1%;
}
#triangle-banner {
    position:relative;
    width:60%;
    margin-left: 35%;
    margin-top:5%;
}
#rectangle-banner {
    position:relative;
    width:50%;
    margin-left:5%;
}
#triangle-banner h2 {
    position:absolute;
    top:39%;
    left:14%;
}
#rectangle-banner h2 {
    position:absolute;
    top:35%;
    left:15%;
    width:70%;
}
#footer-image {
    background-image: url("resources/FooterBackground.png");
    height:calc(3443vw/4096 * 200);
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
@media only screen and (max-width:760px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.35rem;
    }
    #description-wrapper {
        border-image-width: 10% 10% 12% 10%
    }
}
@media only screen and (min-width:960px)
{
    .content-wrapper {
        max-width:960px;
    }
    #hero-image {
        height: calc(3443px/4096*1920); /*img height / width * 1920*/
    }
    #background-image{
        height:calc(10329px/4096 * 1920);
    }
    #footer-image {
        height: calc(3443px/4096*1920);
    }
}
@media only screen and (min-width: 1921px) {
    .content-wrapper {
        max-width:50vw;
    }
    #hero-image {
        height:calc(3443vw/4096 * 100);
    }
    #background-image {
        height:calc(10329vw/4096 * 100);
    }
    #footer-image {
        height:calc(3443vw/4096 * 100);
    }

}
